.OrderSummary {
    text-align: center;
}

.OrderSummary h3{
    color: tomato;
}

.OrderSummary p{
    margin-bottom: 20px;
}

.OrderSummary button {
    background-color: rgb(62, 216, 67); /* Green */
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.OrderSummary button:hover,
.OrderSummary button:active {
    background-color: rgb(123, 212, 126);;
    
}

.OrderSummary button:focus{
    outline: 0;
}